.header{
    background-color: var(--dark-blue);
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 6px 6px 2px 2px var(--shadow);
}

.headBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

@media screen and (min-width: 768px) {
    .headBox{
        flex-direction: row;
        gap: 64px;
        justify-content: center;
    }
}
@media screen and (min-width: 1280px) {
    .header{
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
