.link {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.logo {
  color: var(--light);
  font-family: var(--font);
  font-weight: 500;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1280px) {
  .logo {
    font-size: 42px;    
  }
}
