.nav {
  width: 100%;
}
.navList {
  display: flex;
  flex-direction: row;
  gap: 32px;
 justify-content: space-between;
  width: 100%;
}

.link {
  color: var(--light);
  font-family: var(--font);
  font-size: 18px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .navList{
    gap: 64px;
    justify-content: start;
  }
}