:root {
  --dark-blue: #03093a;
  --blue: #0000ff;
  --light-blue: #1480f6;
  --light: #fffff0;
  --red: #e20c25;
  --dark-red: #ad0d18;
  --dark-red-rgb: rgb(173, 13, 24 0.4);
  --green: #057f3c;
  --font: "Arimo", sans-serif;
  --shadow: rgb(3, 9, 58, 0.4);
  --transform: ease-in-out;
}

@font-face {
  font-family: "Arimo";
  src: url("../src/assets/fonts/Arimo-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Arimo";
  src: url("../src/assets/fonts/Arimo-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Arimo";
  src: url("../src/assets/fonts/Arimo-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: var(--font);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  outline: none;
}

body {
  background-color: var(--light);
}
